@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font/iconfont.ttf?t=1636426272490') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mudedi:before {
  content: "\e628";
}

.icon-wode:before {
  content: "\e619";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-gengduo:before {
  content: "\e66c";
}

.icon-sousuo:before {
  content: "\e632";
}

